

header{
    background-color: lightgray;
}

main {
    background-color: lightgray;
}

#aboutUsStyle{
    color: maroon;
    text-decoration: underline;
    font-weight: bold;
}

#whyChooseUsStyle{
    color: maroon;
    font-size: 30px;
   text-align: center;
}

#leadershipStyle{
    color: maroon;
    font-size: 30px;
    text-align: center;
}

aside h2{
    color: maroon;
    text-align: right;
}

ul li{
    color: maroon;
    text-align: right;
}

.classSubjectsStyle{
    color: maroon;
    font-size: 26px;
    text-align: center;
}

h3, h4{
    color:maroon;
    font-weight: bold;
}

#contactUsStyle{
    color:maroon;
    font-size: 30px;
    text-align: center;
}

.contactInfoStyle{
    color: maroon;
    font-size: 22px;
    text-align: center;
}

footer {
    background-color: lightgray;
}